body {
    margin: 0px !important;
}

.header {
    background-color: black;
    height: 700px;
}

.home {
    width: 100%;
}

.home h1 {
    text-align: center;
    color: white;
    font-size: 37px;
    font-weight: 100;
    padding: 10px;
}

.topheader {
    background-color: black;
    margin-top: -30px;
}

@media (max-width: 550px) {
    .home h1 {
        font-size: 25px;
    }
}
