.container {
    margin: 0 5%;
}

.container h3{
    text-align: center;
    margin-top: 100px;
    margin-bottom: -50px;
    font-size: 22px;
}

.imagecover {
    width: 100%;
    background-color: black;
}

.banner
{
    display: block;
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.mainheading {
    text-align: center;
}

.link {
    text-decoration: none !important;
}